* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.addimagebutton {
  padding: 10px;
  width: 131.323px;
  height: 46px;
  flex-shrink: 0;

  font-size: 12px;
  font-weight: 800;
  text-align: center;
  color: white;

  border-radius: 104px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: -0.5px -0.5px 6.9px 0px rgba(255, 255, 255, 0.25),
    9px 10px 7.1px 0px rgba(0, 0, 0, 0.4),
    0px 0px 48.906px 0px rgba(255, 255, 255, 0.05) inset,
    0px 3.26px 3.26px 0px rgba(255, 255, 255, 0.15) inset;
  backdrop-filter: blur(52.27996826171875px);
}
.button {

    padding: 10px;
    height: 46px;
    width: 46px;
    border-radius: 100%;
  background: linear-gradient(139deg, #303439 12.4%, #161718 94.96%);
  box-shadow: 4px 5px 30px #101213,
  -5px -3px 30px #96bee7;
  color: white;
}
